<body>
<div  class=texttitulo1 > 
    <p class=texttitulo1 align="center" >Accede a nuestro catálogo</p>

    <p class="heading" align="center" ></p>

</div>



<div  class="container" > 

        
        <div class="row">

          <div class="col-md-4">

            <!-- COLUMN 1 -->
              
              <div class="form-group">
                <a class="textform1">Transacción:</a>
                <select id="L1" class= "form-control" placeholder="Venta"  #transaccion>
                  <option value="">Todos</option>
                  <option value="VENTA">VENTA</option>
                  <option value="ALQUILER">ALQUILER</option>
                  <option value="OTRO">OTRO</option>
                </select>
                <a class="textform1">Tipo:</a>
                <select id="L11" class= "form-control"  #tipo>
                  <option value="">Todos</option>
                  <option value="Casa">Casa</option>
                  <option value="Departamento">Departamento</option>
                  <option value="Terreno">Terreno</option>
                  <option value="Oficina">Oficina</option>
                  <option value="Galpón bodega">Galpón bodega</option>
                  <option value="Local comercial">Local comercial</option>
                  <option value="Finca">Finca</option>
                  <option value="Otro">Otro</option>
                </select>
                <a class="textform1">USD:</a>
                <select id="L2" class= "form-control" placeholder="Precio"  #precio>
                  <option value="">Todos</option>
                  <option value="1">0-100</option>
                  <option value="2">100-300</option>
                  <option value="3">300-500</option>
                  <option value="4">500-1.000</option>
                  <option value="5">1.000-5.000</option>
                  <option value="6">5.000-50.000</option>
                  <option value="7">75.000-100.000</option>
                  <option value="8">100.000-150.000</option>
                  <option value="9">150.000-300.000</option>
                  <option value="10">más de 300.000</option>
                </select>
                <a class="textform1">Sector:</a>
                <select id="L3" class= "form-control" placeholder="Sector"  #sector>
                  <option value="">Todos</option>
                  <option value="Norte">Norte</option>
                  <option value="Sur">Sur</option>
                  <option value="Centro">Centro</option>
                  <option value="Chillogallo">Chillogallo</option>
                  <option value="Centro norte">Centro norte</option>
                  <option value="Carolina">Carolina</option>
                  <option value="Quito Tenis">Quito Tenis</option>
                  <option value="Ponceano">Ponceano</option>
                  <option value="Calderón">Calderón</option>
                  <option value="Carcelén">Carcelén</option>
                  <option value="Conocoto">Conocoto</option>
                  <option value="Sangolqui">Sangolqui</option>
                  <option value="Tumbaco">Tumbaco</option>
                  <option value="Cumbaya">Cumbaya</option>
                  <option value="Calderón">Calderón</option>
                  <option value="Carcelén">Carcelén</option>
                  <option value="Provincia">Provincia</option>
                </select>
                
                <button (click)="buscarproyectos(transaccion, tipo, sector, precio)" class="btn btn-primary btn-block" type="">
                  Buscar
                </button> 
    
              </div>



          <!-- END COLUMN 1 -->
          </div>
         


          
  

        </div>

<!--=====================================
  <img  src="assets/img/01_Principal/principal_daniel_02.jpg" style="width:100%; height: 100%" alt="Slide Image">
======================================-->



</div>
 
 <div  class="container" > 

        
        <div class="row">


            <div class="col-md-8">
            <!-- COLUMN 3 -->
            <div class="row margin-bottom-30px">
              <h3 class="footer-heading">Nosotros :</h3>
                <ul class=link1 >
                  <li><a  href="#" routerLink="/servicios">Servicios</a></li>
                  <li><a href="#" routerLink="/servicios">Equipo</a></li>
                </ul>
              <div class="col-xs-9" align="right">

              </div>
        
            </div>
            <!-- END COLUMN 3 -->
          </div>
         

          <div class="col-md-4">
            <!-- COLUMN 2 -->
            <h3 class="footer-heading" aling="top"></h3>
            <div class="row margin-bottom-30px">
        
            <div class="social-connect">
              <h3 class="footer-heading">Síguenos :</h3>
              <ul class="list-inline social-icons">
                <li><a href="#" class="facebook-bg"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#" class="twitter-bg"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#" class="googleplus-bg"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#" class="rss-bg"><i class="fa fa-rss"></i></a></li>
              </ul>
            </div>
        
            </div>
            <!-- END COLUMN 2 -->
          </div>
          


        </div>

<!--=====================================
  <img  src="assets/img/01_Principal/principal_daniel_02.jpg" style="width:100%; height: 100%" alt="Slide Image">
======================================-->



</div>



    
</body>

